In [ ]:
# Create Labs folder if it doesn't exist
import os
os.makedirs('Labs', exist_ok=True)
print("Labs folder created or already exists.")

## Lab 1: Reading Data from CSV Files

- Download the Iris dataset CSV: [iris.csv](https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv)
- Load the file into a Pandas DataFrame.
- Print the shape, first 5 rows, and column names.
- Count the number of missing values per column.

In [ ]:
import pandas as pd

# Download and load the Iris dataset
url = 'https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv'
df_iris = pd.read_csv(url)

# Print shape
print("Shape:", df_iris.shape)

# First 5 rows
print("\nFirst 5 rows:")
print(df_iris.head())

# Column names
print("\nColumn names:", list(df_iris.columns))

# Missing values per column
print("\nMissing values per column:")
print(df_iris.isnull().sum())

In [ ]:
# Print the shape
print("Shape:", df_iris.shape)

In [ ]:
# Print the first 5 rows
print("\nFirst 5 rows:")
print(df_iris.head())

In [ ]:
# Print the column names
print("\nColumn names:", list(df_iris.columns))

In [ ]:
# Count the number of missing values per column
print("\nMissing values per column:")
print(df_iris.isnull().sum())

## Lab 2: Reading Data from Excel Files

- Obtain a simple Excel file with at least two columns.
- Load the file and display the first 3 rows.
- List the data types of all columns.
- Select a single column and print its values.

In [ ]:
# For this example, we'll create a simple Excel file first
import pandas as pd

# Create sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 92, 78]
}
df_sample = pd.DataFrame(data)

# Save to Excel
df_sample.to_excel('Labs/sample_grades.xlsx', index=False)
print("Sample Excel file created.")

# Now load it back
df_excel = pd.read_excel('Labs/grades.xlsx')

# First 3 rows
print("First 3 rows:")
print(df_excel.head(3))

# Data types
print("\nData types:")
print(df_excel.dtypes)

# Select and print one column
print("\nScore column:")
print(df_excel['Score'])

In [ ]:
# Load the file
df_excel = pd.read_excel('Labs/sample_grades.xlsx')

In [ ]:
# Display the first 3 rows
print("First 3 rows:")
print(df_excel.head(3))

In [ ]:
# List the data types of all columns
print("\nData types:")
print(df_excel.dtypes)

In [ ]:
# Select a single column and print its values
print("\nScore column:")
print(df_excel['Score'])

## Lab 3: Reading Data from JSON Files

- Create or download a small JSON file representing tabular data.
- Load the JSON file into a DataFrame.
- Display the last 2 rows and data types.
- Save the DataFrame as a CSV file.

In [ ]:
import pandas as pd
import json

# Create sample JSON data
json_data = [
    {"name": "Alice", "age": 25, "city": "New York"},
    {"name": "Bob", "age": 30, "city": "London"},
    {"name": "Charlie", "age": 35, "city": "Paris"}
]

# Save to JSON file
with open('Labs/sample_data.json', 'w') as f:
    json.dump(json_data, f)
print("Sample JSON file created.")

# Load JSON into DataFrame
df_json = pd.read_json('Labs/sample_data.json')

# Last 2 rows
print("Last 2 rows:")
print(df_json.tail(2))

# Data types
print("\nData types:")
print(df_json.dtypes)

# Save as CSV
df_json.to_csv('Labs/sample_data_from_json.csv', index=False)
print("\nSaved as CSV.")

In [ ]:
# Load the JSON file into a DataFrame
df_json = pd.read_json('Labs/sample_data.json')

In [ ]:
# Display the last 2 rows
print("Last 2 rows:")
print(df_json.tail(2))

In [ ]:
# Display data types
print("\nData types:")
print(df_json.dtypes)

In [ ]:
# Save the DataFrame as a CSV file
df_json.to_csv('Labs/sample_data_from_json.csv', index=False)
print("\nSaved as CSV.")

## Lab 4: Reading Data from Web APIs

- Find an open API with simple JSON output (e.g., https://jsonplaceholder.typicode.com/users).
- Read the data directly into a DataFrame.
- Print the number of rows and columns.
- Select and print the first 2 names or usernames.

In [ ]:
import pandas as pd

# Read from API
url = 'https://jsonplaceholder.typicode.com/users'
df_api = pd.read_json(url)

# Shape
print("Shape:", df_api.shape)

# First 2 usernames
print("\nFirst 2 usernames:")
print(df_api['username'].head(2))

In [ ]:
# Print the number of rows and columns
print("Shape:", df_api.shape)

In [ ]:
# Select and print the first 2 names or usernames
print("\nFirst 2 usernames:")
print(df_api['username'].head(2))

## Lab 5: Handling Missing Values

- Introduce missing values into a DataFrame (e.g., using NaN).
- Count missing values per column.
- Drop all rows with any missing values.
- Fill missing values in one column with that column's mean.

In [ ]:
import pandas as pd
import numpy as np

# Create DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [9, 10, 11, np.nan]
}
df_missing = pd.DataFrame(data)
print("Original DataFrame:")
print(df_missing)

# Count missing values
print("\nMissing values per column:")
print(df_missing.isnull().sum())

# Drop rows with any missing values
df_dropped = df_missing.dropna()
print("\nAfter dropping rows with missing values:")
print(df_dropped)

# Fill missing values in column A with mean
mean_a = df_missing['A'].mean()
df_filled = df_missing.copy()
df_filled['A'] = df_filled['A'].fillna(mean_a)
print("\nAfter filling missing values in A with mean:")
print(df_filled)

In [ ]:
# Count missing values per column
print("\nMissing values per column:")
print(df_missing.isnull().sum())

In [ ]:
# Drop all rows with any missing values
df_dropped = df_missing.dropna()
print("\nAfter dropping rows with missing values:")
print(df_dropped)

In [ ]:
# Fill missing values in one column with that column's mean
mean_a = df_missing['A'].mean()
df_filled = df_missing.copy()
df_filled['A'] = df_filled['A'].fillna(mean_a)
print("\nAfter filling missing values in A with mean:")
print(df_filled)

## Lab 6: Handling Duplicate Records

- Construct a DataFrame with intentional duplicate rows.
- Display all duplicate rows.
- Remove duplicates and display new shape.
- Verify no duplicates remain.

In [ ]:
import pandas as pd

# Create DataFrame with duplicates
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie'],
    'Score': [85, 92, 85, 78]
}
df_dup = pd.DataFrame(data)
print("Original DataFrame:")
print(df_dup)

# Display duplicate rows
duplicates = df_dup[df_dup.duplicated()]
print("\nDuplicate rows:")
print(duplicates)

# Remove duplicates
df_no_dup = df_dup.drop_duplicates()
print("\nAfter removing duplicates:")
print(df_no_dup)
print("New shape:", df_no_dup.shape)

# Verify no duplicates
print("\nAny duplicates remaining:", df_no_dup.duplicated().any())

In [ ]:
# Display all duplicate rows
duplicates = df_dup[df_dup.duplicated()]
print("\nDuplicate rows:")
print(duplicates)

In [ ]:
# Remove duplicates and display new shape
df_no_dup = df_dup.drop_duplicates()
print("\nAfter removing duplicates:")
print(df_no_dup)
print("New shape:", df_no_dup.shape)

In [ ]:
# Verify no duplicates remain
print("\nAny duplicates remaining:", df_no_dup.duplicated().any())

## Lab 7: Identifying and Handling Outliers

- Given a DataFrame with a numeric column, plot a boxplot using `df.boxplot()`.
- Compute IQR and define outlier limits.
- Print all outlier rows.
- Optionally, remove outliers and compare DataFrame shapes.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Create DataFrame with outliers
data = {'Score': [85, 92, 78, 96, 88, 200, 75, 82, 90, 150]}
df_outliers = pd.DataFrame(data)

# Boxplot
df_outliers.boxplot(column='Score')
plt.title('Boxplot of Scores')
plt.show()

# Compute IQR
desc = df_outliers['Score'].describe()
Q1 = desc['25%']
Q3 = desc['75%']
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(f"IQR: {IQR}")
print(f"Lower bound: {lower_bound}")
print(f"Upper bound: {upper_bound}")

# Outlier rows
outliers = df_outliers[(df_outliers['Score'] < lower_bound) | (df_outliers['Score'] > upper_bound)]
print("\nOutlier rows:")
print(outliers)

# Remove outliers
df_no_outliers = df_outliers[(df_outliers['Score'] >= lower_bound) & (df_outliers['Score'] <= upper_bound)]
print("\nOriginal shape:", df_outliers.shape)
print("Shape after removing outliers:", df_no_outliers.shape)

In [ ]:
# Compute IQR and define outlier limits
desc = df_outliers['Score'].describe()
Q1 = desc['25%']
Q3 = desc['75%']
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(f"IQR: {IQR}")
print(f"Lower bound: {lower_bound}")
print(f"Upper bound: {upper_bound}")

In [ ]:
# Print all outlier rows
outliers = df_outliers[(df_outliers['Score'] < lower_bound) | (df_outliers['Score'] > upper_bound)]
print("\nOutlier rows:")
print(outliers)

In [ ]:
# Remove outliers and compare DataFrame shapes
df_no_outliers = df_outliers[(df_outliers['Score'] >= lower_bound) & (df_outliers['Score'] <= upper_bound)]
print("\nOriginal shape:", df_outliers.shape)
print("Shape after removing outliers:", df_no_outliers.shape)

## Lab 8: Data Transformation with Pandas

- Add a column showing normalized score (divided by max).
- Create a boolean column "is_high" where score > 70.
- Rename a column to "total_marks".
- Reorder columns to bring names first.

In [ ]:
import pandas as pd

# Create sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 92, 78]
}
df_trans = pd.DataFrame(data)
print("Original DataFrame:")
print(df_trans)

# Add normalized score column
df_trans['Normalized_Score'] = df_trans['Score'] / df_trans['Score'].max()

# Create boolean column
df_trans['is_high'] = df_trans['Score'] > 70

# Rename column
df_trans = df_trans.rename(columns={'Score': 'total_marks'})

# Reorder columns
df_trans = df_trans[['Name', 'total_marks', 'Normalized_Score', 'is_high']]

print("\nTransformed DataFrame:")
print(df_trans)

In [ ]:
# Create a boolean column "is_high" where score > 70
df_trans['is_high'] = df_trans['Score'] > 70

In [ ]:
# Rename a column to "total_marks"
df_trans = df_trans.rename(columns={'Score': 'total_marks'})

In [ ]:
# Reorder columns to bring names first
df_trans = df_trans[['Name', 'total_marks', 'Normalized_Score', 'is_high']]

print("\nTransformed DataFrame:")
print(df_trans)

## Lab 9: Data Normalization

- For a numeric column, compute normalized values using the min-max formula.
- Add as a new column called "norm".
- Verify all norm values are between 0 and 1.

In [ ]:
import pandas as pd

# Create DataFrame
data = {'Value': [10, 20, 30, 40, 50]}
df_norm = pd.DataFrame(data)
print("Original DataFrame:")
print(df_norm)

# Min-max normalization
min_val = df_norm['Value'].min()
max_val = df_norm['Value'].max()
df_norm['norm'] = (df_norm['Value'] - min_val) / (max_val - min_val)

print("\nAfter normalization:")
print(df_norm)

# Verify values are between 0 and 1
print("\nAll norm values between 0 and 1:", (df_norm['norm'] >= 0).all() and (df_norm['norm'] <= 1).all())

In [ ]:
# Verify all norm values are between 0 and 1
print("\nAfter normalization:")
print(df_norm)

print("\nAll norm values between 0 and 1:", (df_norm['norm'] >= 0).all() and (df_norm['norm'] <= 1).all())

## Lab 10: Data Type Conversion with Pandas

- Identify columns with wrong types (e.g., numeric data as object).
- Convert a numeric string column to integer type.
- Convert a date-formatted string column to datetime type.

In [ ]:
import pandas as pd

# Create DataFrame with wrong types
data = {
    'Score': ['85', '92', '78'],
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03']
}
df_types = pd.DataFrame(data)
print("Original DataFrame:")
print(df_types)
print("\nData types:")
print(df_types.dtypes)

# Convert Score to int
df_types['Score'] = df_types['Score'].astype(int)

# Convert Date to datetime
df_types['Date'] = pd.to_datetime(df_types['Date'])

print("\nAfter type conversion:")
print(df_types)
print("\nData types:")
print(df_types.dtypes)

In [ ]:
# Convert a numeric string column to integer type
df_types['Score'] = df_types['Score'].astype(int)

In [ ]:
# Convert a date-formatted string column to datetime type
df_types['Date'] = pd.to_datetime(df_types['Date'])

print("\nAfter type conversion:")
print(df_types)
print("\nData types:")
print(df_types.dtypes)

## Lab 11: Real-World Data Cleaning Scenario

- Use a sample or downloaded student grades CSV with strings, blanks, duplicates, and outliers.
- Clean the data by:
  - Converting score to float and filling blanks with mean
  - Removing duplicate rows
  - Detecting and dropping outliers using IQR
  - Normalizing final scores
- Output cleaned DataFrame to a new CSV.

In [ ]:
import pandas as pd
import numpy as np

# Create sample messy data
data = {
    'Student': ['Alice', 'Bob', 'Alice', 'Charlie', 'David'],
    'Score': ['85', '92', '', '78', '150']  # String, blank, outlier
}
df_messy = pd.DataFrame(data)
print("Original messy DataFrame:")
print(df_messy)

# Convert Score to float, coerce errors to NaN
df_messy['Score'] = pd.to_numeric(df_messy['Score'], errors='coerce')

# Fill missing with mean
mean_score = df_messy['Score'].mean()
df_messy['Score'] = df_messy['Score'].fillna(mean_score)

# Remove duplicates
df_messy = df_messy.drop_duplicates()

# Remove outliers using IQR
desc = df_messy['Score'].describe()
Q1 = desc['25%']
Q3 = desc['75%']
IQR = Q3 - Q1
lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR
df_messy = df_messy[(df_messy['Score'] >= lower) & (df_messy['Score'] <= upper)]

# Normalize scores
min_score = df_messy['Score'].min()
max_score = df_messy['Score'].max()
df_messy['Normalized_Score'] = (df_messy['Score'] - min_score) / (max_score - min_score)

print("\nCleaned DataFrame:")
print(df_messy)

# Save to CSV
df_messy.to_csv('Labs/cleaned_grades.csv', index=False)
print("\nSaved cleaned data to CSV.")

In [ ]:
# Removing duplicate rows
df_messy = df_messy.drop_duplicates()

In [ ]:
# Detecting and dropping outliers using IQR
desc = df_messy['Grade'].describe()
Q1 = desc['25%']
Q3 = desc['75%']
IQR = Q3 - Q1
lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR
df_messy = df_messy[(df_messy['Grade'] >= lower) & (df_messy['Grade'] <= upper)]

In [ ]:
# Normalizing final scores
min_grade = df_messy['Grade'].min()
max_grade = df_messy['Grade'].max()
df_messy['Normalized_Grade'] = (df_messy['Grade'] - min_grade) / (max_grade - min_grade)

In [ ]:
# Output cleaned DataFrame to a new CSV
print("\nCleaned DataFrame:")
print(df_messy)

# Save to CSV
df_messy.to_csv('Labs/cleaned_grades.csv', index=False)
print("\nSaved cleaned data to CSV.")